################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CakeWorldGurugram/FileContentIndex/55967600-48d3-4f6b-b546-d5b0429b3cb0.vsidx
