<br />
<h2 style="text-align:center;">Design and Develop By</h2>
<br />
<h4 style="text-align:center;">Welcome to cake World Gurugram</h4>



@* <div style="margin:10px 0px 10px 100px;"> Terms and Conditions : @Html.ActionLink("Click to View", "Docx", "Home", new { FileName = "TermsConditions" }) </div>
<div style="margin:10px 0px 10px 100px;"> Privacy and policy : @Html.ActionLink("Click to View", "Docx", "Home", new { FileName = "PrivacyPolicy" }) </div> *@
<div style="margin-bottom:100px;"></div>