
<div style="text-align:center;">
<br />
<h2>Payment</h2>
<br />
    <h4>Welcome to cake World Gurugram</h4>
    <div style="margin:3em 0em 3em 0em;">
        <img src="~/images/payment/qrcodepayment.jpeg" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        You can also make payment using UPI : <b> 7027688282@ybl </b>
    </div>
</div>