<br />
<h2 style="text-align:center;">Terms and Conditions</h2>
<br />
<h4 style="text-align:center;">Welcome to cake World Gurugram</h4>
<div style="margin-bottom:70px;"></div>

<div class="container">
    <div class="agileinfo_single">
        <div class="col-md-7 agileinfo_single_right">
            <div class="w3agile_description">
            <h5> Payments </h5>
                <p> => 80% advance payment. </p>
                <p> => You have to add a secondary contract no. with your address.</p>
            <div style="margin-top:2rem;"></div>
            <h5> Delivery </h5>
                <p> => Your token of Sweetness will be on your doorstep in max. 2 hours. </p>
                <p> => 200% refund if the delivery will be late. </p>
                <p> => Quality is remembered long after price is forgotten. </p>
            </div>
        </div>
    </div>
</div>